* {
    box-sizing: border-box;
}
#container {
    margin: auto;
    width: 900px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#container div {
    width: 200px;
    height: 200px;
    border: 1px solid gray;
    font-size: 100px;
    text-align: center;
    margin-block: 10px;
    padding-top: 20px;
}
